# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*                       @Open-Fiber-Austria/board

# To review any files not related to mkdocs we use the
# administrators
.github                 @Open-Fiber-Austria/admin
.gitignore              @Open-Fiber-Austria/admin
.dockerignore           @Open-Fiber-Austria/admin
docker-compose.yml      @Open-Fiber-Austria/admin
Dockerfile              @Open-Fiber-Austria/admin

